

/* Border Color */
.border-golden-yellow {
    border-color: $golden-yellow !important;
}

.border-custom-white {
    border-color: rgba(236, 239, 244, 0.3) !important;
}


/*
.footer-social-link {
    li {
        position: relative;

        &:after {
            content: ".";
            position: absolute;
            left: -50%;
            top: -10px;
            font-size: 25px;
            transform: translateX(50%);
        }

        &:first-child {

            &:after {
                display: none;
            }
        }

    }

}
*/


.timeline-area {
    .single-widgets {
        @include mobile-lg {
            width: 50%;
            flex: 0 0 50%;
        }

        @include desktops {
            width: 420px;
            flex: inherit;
        }

        &:nth-child(3) {
            @include desktops {
                margin-top: 75px;
            }
        }

        &:nth-child(4) {
            @include desktops {
                margin-top: 145px;
            }
        }
    }
}

.progress-bar {
    transition: width .6s ease-in-out;
}
.cursor-pointer {
    cursor: pointer;
}
.transition-200 {
    transition: 200ms all ease-in-out;
}
.testimonial-one {
    .slick-track, .slick-dots {
        display: flex !important;
    }
    .slick-slide {
        height: auto;
        transition: 300ms ease-in-out;
        &.slick-active+div {
            filter: blur(2px)
        }
    }
    .slick-slide > div {
        height: 100%;
    }
}
.about-us-hero {
    background: url('../../assets/aboutUsHeaderImage-edit.png');
    background-repeat: no-repeat;
}
.events-hero {
    background: /*url('../../assets/computer1.png')*/ linear-gradient(58.72deg, #485563 7.71%, #29323C 92.87%);
    background-repeat: no-repeat;
    background-size: cover;
}
.single-brand-logo img {
    max-height: 3.5rem;
    @media (max-width: 768px) {
        max-height: 2.5rem;
    }
}
.next-image-cover {
    object-fit: cover;
}
.exec-image {
    @media (max-width: 992px) {
        min-width: 60px;
        min-height: 60px;
        max-width: 60px;
        max-height: 60px;
    }
}
.circle-event {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-top: .25rem;
    i {
        font-size: 13px;
    }
}
